body {
    background-color: #000000;
    color: #00FF41; /* Verde fósforo de terminal */
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #00FF41;
    border-bottom: 1px solid #00FF41;
}

a {
    color: #00FF41;
    text-decoration: none;
}

a:hover {
    background-color: #00FF41;
    color: #000000;
}

blockquote {
    border-left: 2px solid #00FF41;
    padding-left: 10px;
    font-style: italic;
}
